.mymodal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EFEFEFD9;
    ;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     width: 538px;
  }
  
  .myoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFFC4;; 
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .addbalance{
    display: flex;
    justify-content: space-around;


  }
  

  .textinput{
    height: 51px;
    width: 180px;
    border-radius: 15px ;
    margin: 6px;
    border: none;
    outline: none;
    padding:  0px 21px;

  }
  .addwidth{
    width: 222px;
  }

  .submitbutton{
    font-family: Open Sans;
    color: white;
    font-size: 16px;
    font-weight: 700;
    height: 51px;
    text-align: left;
    border-radius: 15px;
    border: none;
    margin: 6px;
    padding:  15px 21px;
    background: linear-gradient(0deg, #F4BB4A, #F4BB4A);
    cursor: pointer;

  }

  .cancelbutton{
    font-family: Open Sans;
    color: black;
    font-size: 16px;
    font-weight: 700;
    height: 51px;
    text-align: left;
    border-radius: 15px;
    border: none;
    margin: 6px;
    padding:  15px 21px;
    background: linear-gradient(0deg, #D9D9D9, #D9D9D9),
    linear-gradient(0deg, #D9D9D9, #D9D9D9),
    linear-gradient(0deg, #E3E3E3, #E3E3E3);
    cursor: pointer;

  }

  